<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <bean id="bidDao" class="com.ppdaibid.dao.impl.BidDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="debtDao" class="com.ppdaibid.dao.impl.DebtDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <bean id="ppdaiTimer" class="com.ppdaibid.timer.PpdaiTimer"/>
    <bean id="smsSendServiceJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    	<property name="targetObject" ref="ppdaiTimer" />
    	<property name="targetMethod" value="sendSMSAuthCode" />
    </bean> 
    <bean id="timerTigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
    	<property name="jobDetail" ref="smsSendServiceJob" />
    	<property name="cronExpression" value="0 0 9 ? * MON" />
    </bean>
    <bean id="startjob" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    	<property name="applicationContextSchedulerContextKey" value="applicationContext" />
        <property name="triggers">
            <list>
                <ref bean="timerTigger" />
            </list> 
        </property>
    </bean>
    
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="initialSize" value="${dbcp.initialSize}" />
		<property name="maxActive" value="${dbcp.maxActive}" />
		<property name="maxIdle" value="${dbcp.maxIdle}" />
		<property name="minIdle" value="${dbcp.minIdle}" />
	</bean>
	
    <context:property-placeholder location="classpath:jdbc.properties"/>
</beans>